body {
	font-family: monospace;
}

/* Post view styles */
.comment-header {
	color: #344feb;
}

.stats {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	margin: 0 auto;
	width: 300px;
}

.like-btn {
	height: 30px;
	padding: 0;
	filter: invert(59%) sepia(84%) saturate(1217%) hue-rotate(173deg) brightness(94%) contrast(101%);
}

.dislike-btn {
	height: 30px;
	padding: 0;
	filter: invert(15%) sepia(88%) saturate(7004%) hue-rotate(359deg) brightness(98%) contrast(114%);
}

.post-views {
	height: 30px;
	padding: 0;
}

/* Create Post Form */
form {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	gap: 10px;
}

/* Post List styles */
.faux-link {
	text-decoration: underline;
	color: red;
	cursor: pointer;
}

.filter-button {
	font-family: monospace;
	border-radius: 5px;
	border: 1px solid;
	margin-right: 5px;
	margin-bottom: 5px;
	padding: 5px;
	text-transform: lowercase;
}

.filter-button.active {
	background-color: blue;
	color: white;
	font-weight: bold;
}
/* Table Styles */
table {
	text-align: left;
	border-collapse: collapse;
	width: 90%;
	overflow: auto;
	margin: 0 auto;
}

thead {
	border-block-end: 2px solid;
	background: whitesmoke;
}

tr {
	border-bottom: 1px solid;
}

th, td {
	border: 1px solid;
	padding: 0.25rem 0.75rem;
}
